.input {
	background: #eeeeee;
	border-radius: 20px;
	width: 500px;
	height: 10vh;
	color: #212121;
	font-weight: 500;
	margin-top: 12px;
	padding: 15px;
}

.input:focus {
	border-radius: 20px;
	border: 1px solid #c0c0c0;
	outline: none !important;
	box-shadow: 0 0 5px #a8a8a8;
    font-size: 20px;
}

.label {
	color: #757575;
	font-size: 20;
	font-weight: 500;
}

.button {
	width: 80px;
	display: flex;
	justify-content: space-around;
}
