.input {
	background: #eeeeee;
	border-radius: 20px;
	width: 100%;
	color: #212121;
	font-weight: 500;
	margin-top: 12px;
	padding: 15px;
	font-size: 150%;
}

.input:focus {
	border-radius: 20px;
	box-shadow: 0 0 1px #a8a8a8;
    font-size: 150%;
}

.label {
	color: #757575;
	font-size: 20;
	font-weight: 500;
}

.button {
	width: 80px;
	display: flex;
	justify-content: space-around;
}
